In [8]:
from data_preprocessing_lib import (
    MissingValueHandler, 
    OutlierHandler, 
    Scaler, 
    TextCleaner, 
    FeatureEngineer, 
    DataTypeConverter, 
    CategoricalEncoder, 
    DateTimeHandler, 
    DataFrameLoader
)
import pandas as pd

data = DataFrameLoader.read_csv('airlines.csv')
daf = pd.DataFrame(data)
daf

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,-1,Unknown,\N,-,NaN,\N,\N,Y
1,1,Private flight,\N,-,NaN,NaN,NaN,Y
2,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
...,...,...,...,...,...,...,...,...
6157,21248,GX Airlines,NaN,NaN,CBG,SPRAY,China,Y
6158,21251,Lynx Aviation (L3/SSX),NaN,NaN,SSX,Shasta,United States,N
6159,21268,Jetgo Australia,NaN,JG,\N,NaN,Australia,Y
6160,21270,Air Carnival,NaN,2S,\N,NaN,India,Y
6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y

In [ ]:
data_1 = ms.MissingValueHandler.delete_missing(data, columns=['Country'])
data_1 = ms.MissingValueHandler.replace_value(data,value = ':)')
#data_2 = dt.DateTimeHandler.to_datetime(df, columns='date')
data_1

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,-1,Unknown,:),-,:),:),:),Y
1,1,Private flight,:),-,:),:),:),Y
2,2,135 Airways,:),:),GNL,GENERAL,United States,N
3,3,1Time Airline,:),1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,:),:),WYT,:),United Kingdom,N
...,...,...,...,...,...,...,...,...
6157,21248,GX Airlines,:),:),CBG,SPRAY,China,Y
6158,21251,Lynx Aviation (L3/SSX),:),:),SSX,Shasta,United States,N
6159,21268,Jetgo Australia,:),JG,:),:),Australia,Y
6160,21270,Air Carnival,:),2S,:),:),India,Y
6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y

In [ ]:
import pandas as pd
from data_preprocessing_lib import MissingValueHandler

# Sample DataFrame
data = {
    'A': [1, 2, None, 4],
    'B': [None, 2, 3, None],
    'C': [1, None, None, 4]
}
df = pd.DataFrame(data)

# Impute missing values with the mean
df = MissingValueHandler.MissingValueHandler.delete_missing(df, ['A', 'B'])
df

     A    B   C
1  2.0  2.0 NaN

/Users/moustafa/PycharmProjects/pythub/data_preprocessing_lib/missing_value_handler.py:19: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return df.replace(missing_values, value)

   A  B  C
0  1  5  0
1  2  0  b
2  0  7  0
3  4  8  d
4  0  0  0
5  0  0  0

TypeError: unsupported operand type(s) for +: 'int' and 'str'